<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Language Detector</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Gochi+Hand&family=Homemade+Apple&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="main_page">
    <div class="card">
      <h2>Show Your Gesture to Begin!</h2>
      <div class="instructions">
        <p>Instructions:</p>
        <ol>
          <li>Position your hands clearly in front of the camera.</li>
          <li>Perform a gesture to add a word to the detected text below.</li>
          <li>Press <strong>Speak Aloud</strong> to hear it in English.</li>
        </ol>
      </div>
      <img id="video" src="{{ url_for('video_feed') }}" alt="Video Feed" />

      <h3>Detected Text: <span id="detected-letter">-</span></h3>
      <button id="reset-button" onclick="resetDetectedText()">Reset</button>
      <button id="delete-button" onclick="deleteLastLetter()">Backspace</button>
      <button id="space-button" onclick="addSpace()">Add Space</button>
      <button id="text-to-speech-button" onclick="readDetectedText()">
        Speak Aloud
      </button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
